@model CotaPedido.WebUI.Models.ViewModelCadastro
@Html.AntiForgeryToken()
@*@Html.HiddenFor(m => m.CadastroReduzido.Id)*@
@Html.Hidden("CadastroReduzido.TypeCadastro", ViewBag.TypeCadastro != null ? (string)ViewBag.TypeCadastro: null)
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <label for="first_name">E-mail (*)</label>
    @Html.TextBoxFor(m => m.CadastroReduzido.Email, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.CadastroReduzido.Email)
    <br clear="all" />
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
    <label for="first_name">Primeiro Nome (*)</label>
    @Html.TextBoxFor(m => m.CadastroReduzido.NomeFantasia, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.CadastroReduzido.NomeFantasia)
    <br clear="all" />
  </div>
  <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
    <label for="last_name">Nome Completo (*)</label>
    @Html.TextBoxFor(m => m.CadastroReduzido.RazaoSocial, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.CadastroReduzido.RazaoSocial)
    <br clear="all" />
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <label for="password">Senha (*)</label>
    @Html.PasswordFor(m => m.CadastroReduzido.Senha, new { @class = "form-control", autocomplete = "off" })
    @Html.ValidationMessageFor(m => m.CadastroReduzido.Senha)
    <br clear="all" />
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <label for="confirm_password">Repita a Senha (*)</label>
    @Html.PasswordFor(m => m.CadastroReduzido.RepitaSenha,
        new { @class = "form-control", autocomplete = "off" })
    @Html.ValidationMessageFor(m => m.CadastroReduzido.RepitaSenha)
    <br clear="all" />
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <label for="">UF (*)</label>
    @Html.EnumDropDownListFor(x => x.CadastroReduzido.UF,
    "Selecione a UF", new { @class = "form-control", id = "inputUF" })
    @Html.ValidationMessageFor(m => m.CadastroReduzido.UF)
    <br clear="all" />
  </div>
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
    <label for="cidade">Cidade (*)</label>
    @Html.DropDownListFor(x => x.CadastroReduzido.IdCidade, new SelectList(new object[0]),
      "Selecione a Cidade",
      new { @class = "form-control", id = "IdCidade" })
    @Html.ValidationMessageFor(m => m.CadastroReduzido.IdCidade)
    <br clear="all" />
  </div>
</div>
<button class="btn btn-danger" type="submit">Registrar</button>
<br clear="all" />
<br clear="all" />