@model CotacaoModel
@{
  ViewBag.Title = "Listar Cotações";
  var ItemsPedidos = Model.Pedidos.Where(x => x.Itens.Count > 0);
  bool StatusItems = ItemsPedidos.Count() > 0;
}
<section>
  <div class="container">
    <div class="row">
      @Html.Partial("_FilterCategorySubCategory")
      @Html.Partial("_MenuLateral", Model)
      <div class="col-sm-9 padding-right">
        <div class="features_items">
          <h2 class="title text-center">PEDIDOS</h2>
          @foreach (var pedidos in ItemsPedidos)
          {
            var imagem = Model.Categorias.Where(c => c.Id == pedidos.IdCategoriaPrincipal).Select(c => c.Imagem).First();
            <div class="col-sm-4">
              <div class="product-image-wrapper">
                <div class="single-products">
                  <div class="productinfo text-center">
                    <img src="@imagem" alt="" />
                    @if (pedidos.Itens.Count() > 0)
                    {
                      <h2>@pedidos.Itens.First().Descricao - @pedidos.Itens.First().Quantidade.Value.ToString("#,##")</h2>
                    }
                    else
                    {
                      <h2>Sem descrição</h2>
                    }
                    @if (pedidos.Validade.HasValue)
                    {
                      <p>Validade: @pedidos.Validade.Value.ToString("dd/MM/yyyy")</p>
                    }
                    else
                    {
                      <p>Sem Validade</p>
                    }
                    <a href="@Url.RouteUrl("VendasDetalhesPedido", new { name = pedidos.Itens.First().Descricao.FriendlyURL(), id = pedidos.Id })" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Visualizar</a>
                  </div>
                  <div class="product-overlay">
                    <div class="overlay-content">
                      @if (pedidos.Itens.Count() > 0)
                      {
                        <h2>@pedidos.Itens.First().Descricao - @pedidos.Itens.First().Quantidade.Value.ToString("#,##")</h2>
                      }
                      else
                      {
                        <h2>Sem descrição</h2>
                      }
                      @if (pedidos.Validade.HasValue)
                      {
                        <p>Validade: @pedidos.Validade.Value.ToString("dd/MM/yyyy")</p>
                      }
                      else
                      {
                        <p>Sem Validade</p>
                      }
                      <a href="@Url.RouteUrl("VendasDetalhesPedido", new { name = pedidos.Itens.First().Descricao.FriendlyURL(), id = pedidos.Id })" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Visualizar</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          }
          @if (!StatusItems)
          {
            <div class="col-sm-12 text-center">
              @if (@ViewBag.Descricao != null)
              {
                <h4><span class="text-warning">Nenhum item foi encontrada na pesquisa da descrição:</span> @ViewBag.Descricao</h4>
              }
              else
              {
                <h4><span class="text-warning">Nenhum item foi encontrada na pesquisa por Categoria</span></h4>
              }
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</section>





